*{
	padding:0;
	margin:0;
	-webkit-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .2s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	height:100%;
	width:100%;
	background:url("../img/sand.jpg") #f2f2f2;
	font-family:"Titillium Web", arial, sans-serif;
}
/************/
/* Cabecera */
/************/
header{
	background:#fff;
	overflow:hidden;
	-webkit-box-shadow: 0 0 5px 1px #b3b3b3;
	box-shadow: 0 0 5px 1px #b3b3b3;
}
header nav{
	float:right;
	padding:10px;
}
header nav ul{
	list-style:none;
	overflow:hidden;
}
header nav ul li{
	float:left;
}
header nav ul li a{
	display:block;
	padding:8px 15px;
	color:#666;
	text-decoration:none;
}
.log{
	background:#00B3B3;
	color:#fff;
} .reg{
	background:#009999;
	color:#fff;
}
/*************/
/* Contenido */
/*************/
.contenido{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height:calc(100% - 115px);
}
.contenido > div{
	width:50%;
}
.titulo{
	position:relative;
}
.comentario{
	position:relative;
}
.posicion{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	height:280px;
}
.ti-box{
	position:relative;
}
.ti-box-mo{
	position:absolute;
	left:50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.ti-box-con{
	position:relative;
	width:360px;
	margin:0 auto;
}
.ti-sombra{
	position:absolute;
	background:#e6e6e6;
	-webkit-box-shadow: 0 0 2px 0px #e6e6e6;
	box-shadow: 0 0 2px 0px #e6e6e6;
	border-radius:50%;
	width:150px;
	height:20px;
	left:50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-top:260px;
}
.ti-p p{
	color:#669999;
	font-size:20px;
	text-align:center;
}
h1{
	line-height:160px;
	text-align:center;
	font-size:80px;
	background:#003333;
	border-radius:20%;
	color:#00B3B3;
	font-family: 'Righteous', cursive;
}
.flecha{
	position:absolute;
	border-width:30px 30px 0 30px;
	border-style:solid;
	border-color:transparent;
	border-top-color:#003333;
	left:50%;
	bottom:-30px;
	width:0;
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	z-index:10;
}
.ti2{
	color:#fff;
}
footer p{
	text-align:center;
	color:#4d4d4d;
}
footer p a{
	color:#00b3b3;
	text-decoration:none;
}
.fa-user{
	display:block;
	font-size:200px;
	color:#009999;
	text-align:center;
}
.com-txt{
	margin-top:20px;
	color:#4d4d4d;
	text-align:center;
}
footer ul{
	overflow:hidden;
	width:187px;
	margin:0 auto;
	margin-top:2px;
}
footer ul li{
	list-style:none;
	float:left;
	border-right:1px solid #4d4d4d;
}
footer ul li:last-child{
	border-right:none;
}
footer ul li a{
	text-decoration:none;
	padding:0 20px;
	color:#009999;
	display:block;
	text-decoration:none;
}